#flightSearch .active_btn {
  background-color: deepskyblue !important;
}

#flightSearch .btn {
  border: 1px solid whitesmoke !important;
}

#flightSearch .btn:focus {
  box-shadow: none !important;
  /* outline: thin dotted !important; */
}

.search_btn {
  margin-top: 0.5rem;
  background-color: #eee !important;
  width: 100%;
}

.search_btn:hover,
.search_btn:focus {
  background-color: deepskyblue !important;
}

#ticket:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.back-button{
  border-radius: 7px;
  height: 40px;
  background-color: #819f87;
  font-weight: bold;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 25px;
  margin-top: 15px;
}

.back-button a {
  color:white;
}